.DS_Store
node_modules
src/.vuepress/dist/
src/.vuepress/.cache/
src/.vuepress/.temp/
src/.vuepress/config.ts.*.mjs

log
*.log
package-lock.json

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

yarn.lock
.yarn/

pnpm-lock.yaml
