// place your custom styles here
:root {
  --search-input-width: 230px !important;
  --nav-dropdown-min-width: 150px;
  --font-family-code: "Courier New", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
.navbar > .navbar-left {
  .logo {
    border-radius: 50%;
  }
}

.navbar > .navbar-center {
  ul.nav-dropdown {
    min-width: var(--nav-dropdown-min-width);
  }
}

#main-content {
  pre, code {
    font-size: 16px;
  }

  blockquote {
    background-color: var(--theme-color-mask);
    font-family: var(--font-family-code);
    border-color: var(--theme-color);
    color: var(--theme-color);
  }

  button.copy-code-button[aria-label='复制代码'] {
    background-color: #0000;
    > div {
      color: #0000;
    }
    &:hover {
      background: #339af0;
      > div {
        color: #fff;
      }
    }
  }
}
